@font-face {
  font-family: threedpixel;
  src: url(../images/3D-Thirteen-Pixel-Fonts.ttf);
}

body {
  background: url(../images/grass3.png);
  background-size: 110px;
}

.heading {
  font-family: threedpixel;
  font-size: 80px;
  font-weight: normal;
  background-color: brown;
  padding: 1rem;
  display: inline-block;
}

.heading2 {
  font-family: threedpixel;
  font-size: 50px;
  font-weight: normal;
}
